<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Modal - ToyStores</title>
    <script
            crossorigin="anonymous"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            src="https://code.jquery.com/jquery-3.6.3.js">
    </script>
    <!--<script type="text/javascript" th:src="@{/js/main.js}"></script>-->
</head>
<body>

<!-- The Modal -->
<div id="search-many-modal" class="search-many-modal">

    <!--<div class="search-many-modal" >
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>-->

    <!-- Modal content -->
    <div class="search-modal-content" style="border-radius:20px;padding: 20px;">
        <span class="close-modal">&times;</span>
        <h69 style="margin-top:30px;">Type in what you are searching for...</h69>

        <div class="search-container" style="margin-left:auto;margin-right:auto;margin-top:20px;">
            <div class="buttons-container" style="padding:5px;">
                <form id="manual-form" method="GET" th:action="@{/searchProduct}" th:object="${productsToSearch}"></form>
                <form id="import-form" method="POST" th:action="@{/upload}" th:object="${file}" enctype="multipart/form-data"></form>

                <div id="input-fields-container">
                    <input id="search-main" name="productsToSearch" placeholder="Search..." type="text" form="manual-form">
                </div>
                <button type="button" id="add-field-btn" form="manual-form">Add Field</button>

                <div style="margin-top:20px; margin-bottom:10px;">
                    <p style="font-size: 20px; text-align:center;font-weight: bold;color:#555;">
                        OR SEARCH USING A .TXT FILE</p>
                    <div style="margin-top:10px;margin-left:auto;margin-right:auto;">
                        <input type="file" id="myFile" name="file" form="import-form">
                    </div>
                </div>

                <div th:object="${sorting}" class="select-filter" style="margin:10px;">
                    <label for="option1">
                        <input class="radio-field" type="radio" name="sorting" value="BY_SHOPS" id="option1">order
                        by shops
                    </label>
                    <label for="option2">
                        <input type="radio" name="sorting" value="BY_PRICE" id="option2">order by price
                    </label>
                </div>

                <button class="search-btn" id="search-modal-btn" type="button" onclick="submitForm()" style="margin-top:10px;padding:5px;">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div id="myProgress">
                <div id="myBar"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>



<!-- OSOBNY PRZYCISK SUBMIT DO WYSZUKIWANIA PLIKIEM

<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Modal - ToyStores</title>
    <script
            crossorigin="anonymous"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            src="https://code.jquery.com/jquery-3.6.3.js">
    </script>
</head>
<body>

<div id="search-many-modal" class="search-many-modal">

    <div class="search-modal-content" style="border-radius:20px;padding: 20px;">
        <span class="close-modal">&times;</span>
        <h69 style="margin-top:30px;">Type in what you are searching for...</h69>

        <div class="search-container" style="margin-left:auto;margin-right:auto;margin-top:20px;">
            <div class="buttons-container" style="padding:5px;">
                <form method="GET" th:action="@{/searchProduct}" th:object="${productsToSearch}" onsubmit="move()">
                    <div id="input-fields-container">
                        <input id="search-main" name="productsToSearch" placeholder="Search..." type="text">
                    </div>
                    <div th:object="${sorting}" class="select-filter" style="margin:10px;">
                        <label for="option1">
                            <input class="radio-field" type="radio" name="sorting" value="BY_SHOPS" id="option1">order
                            by shops
                        </label>
                        <label for="option2">
                            <input type="radio" name="sorting" value="BY_PRICE" id="option2">order by price
                        </label>
                    </div>
                    <button type="button" id="add-field-btn">Add Field</button>
                    <button class="search-btn" id="search-modal-btn" type="submit" style="margin-top:10px;padding:5px;">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

                <div style="margin-top:20px; margin-bottom:10px;">
                    <p style="font-size: 20px; text-align:center;font-weight: bold;color:#555;">
                        OR SEARCH USING A .TXT FILE</p>
                    <div style="margin-top:10px;margin-left:auto;margin-right:auto;">
                        <form action="/action_page.php">
                            <input type="file" id="myFile" name="filename">
                            <div>
                                <button>Search</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div id="myProgress">
                <div id="myBar"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>-->
