<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modal - ToyStores</title>
    <link rel="icon" type="icon" href="/images/favicon.ico">
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <script
            crossorigin="anonymous"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            src="https://code.jquery.com/jquery-3.6.3.js">
    </script>
    <!--<script type="text/javascript" th:src="@{/js/main.js}"></script>-->
</head>
<body>

<!-- Modal container -->
<div id="search-many-modal" class="search-many-modal">

    <!-- Modal content -->
    <div class="search-modal-content" style="border-radius:20px;padding: 20px;">
        <span class="close-modal">&times;</span>
        <h69 style="margin-top:30px;">Type in what you are searching for...</h69>

        <!-- Search container -->
        <div class="search-container" style="margin-left:auto;margin-right:auto;margin-top:20px;">
            <div class="buttons-container" style="padding:5px;">
                <form id="manual-form" method="GET" th:action="@{/searchProduct}" th:object="${productsToSearch}">
                    <div id="input-fields-container">
                        <input id="search-main" name="productsToSearch" placeholder="Search..."
                               type="text">
                    </div>

                    <!-- Add search field for manual input -->
                    <button type="button" id="add-field-btn" style="margin-bottom:20px;">Add Field</button>

                    <!-- Filter results for manual input -->
                    <div class="select-filter" id="manual-options" style="visibility: hidden;" th:object="${sorting}">
                        <label for="manual-option1">
                            <input id="manual-option1" class="radio-field" name="sorting" type="radio" value="BY_SHOPS">
                            group by shops
                        </label>
                        <label for="manual-option2">
                            <input id="manual-option2" name="sorting" type="radio" value="BY_PRICE">choose cheapest offers
                        </label>
                    </div>
                </form>

                <!-- Import file field -->
                <form enctype="multipart/form-data" id="import-form" method="POST" th:action="@{/upload}"
                      th:object="${file}">
                    <div style="margin-top:20px; margin-bottom:10px;">
                        <p style="font-size: 20px; text-align:center;font-weight: bold;color:#555;">
                            OR SEARCH USING A .TXT FILE</p>
                        <p style="font-size: 15px; text-align:center;font-weight: normal;color:#555;">
                            (separate products using a comma or a new line)</p>
                        <div style="margin-top:10px;margin-left:auto;margin-right:auto;">
                            <input type="file" id="myFile" name="file">
                        </div>
                    </div>

                    <!-- Filter results for importing file -->
                    <div class="select-filter" id="import-options" style="visibility: hidden;" th:object="${sorting}">
                        <label for="import-option1">
                            <input id="import-option1" class="radio-field" name="sorting" type="radio" value="BY_SHOPS">
                            group by shops
                        </label>
                        <label for="import-option2">
                            <input id="import-option2" name="sorting" type="radio" value="BY_PRICE">
                            choose cheapest offers
                        </label>
                    </div>
                </form>

                <!-- Search button -->
                <button class="search-btn" id="search-modal-btn" onclick="submitForm()" style="margin-top:20px;padding:5px;"
                        type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div id="myProgress" style="visibility: hidden">
                <div id="myBar"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>