<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatibile">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ToyStores - Navigation Bar</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>
<body>

<header class="top-nav" th:fragment="nav" style="">



    <!-- Trigger/Open The Modal -->
    <!--<button id="search-modal-btn">Open Modal</button>-->


    <a style="text-decoration:none; margin-left: 20px;" th:href="@{/}">
        <p>ToyStores</p>
    </a>

    <div class="search-container" style="margin-left:auto;">

        <!-- <form th:action="@{/search}" method="get">
             <input type="text" name="keyword" th:value="${keyword}" placeholder="Search...">
             <button type="submit" class="button">Search</button>
             <button type="submit" class="button">Reset</button>
         </input></form>-->


        <form th:action="@{/search}" method="get"></form>
        <input id="search" type="text" name="keyword" th:value="${keyword}" placeholder="Search...">


        <button class="search-many-btn" id="search-modal-btn" style="float: right; margin-left: 5px;"><h4>search
            many</h4></button>
        <button type="submit" class="button" style="margin-right:5px;">Search</button>
        <button type="submit" class="button">Reset</button>
        </input>

        <!-- <button class="submit-search-btn" style="float: right; margin-left: 5px;" type="submit"><i
                 class="fa-solid fa-search"></i></button>-->
    </div>

    <div class="log-btn-container">
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/oauth2/authorization/auth0}">
                <button class="login-btn">Login</button>
            </a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="login-btn" th:href="@{/logout}">
                <button class="login-btn">Log out</button>
            </a>
        </div>
    </div>

    <div id="cart-container">
        <div id="cart">
            <a style="text-decoration:none;" th:href="@{/cart/}">
                <div class="cart">
                    <i class="fa fa-shopping-cart" style="color:white;"></i>
                    <!--<i class="fas fa-cloud" style="color:white;"></i>-->
                    <span id="count">0</span>
                </div>
            </a>
        </div>
    </div>
</header>

<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

</body>
</html>