<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatibile">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ToyStores - Navigation Bar</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<header class="top-nav" th:fragment="nav" style="">

    <a class="logo" th:href="@{/}">
        <p>ToyStores</p>
    </a>

    <div class="search-container">

        <!--<form th:action="@{/search}" method="get">
             <input type="text" name="keyword" th:value="${keyword}" placeholder="Search...">
             <button type="submit" class="button">Search</button>
             <button type="submit" class="button">Reset</button>
         </input></form>-->


        <!--<form method="GET" th:action="@{/searchProduct}" th:object="${productsToSearch}"></form>-->
        <!--<input id="search" name="productsToSearch" placeholder="Search..." type="text">-->

        <button class="search-btn" id="search-modal-btn">
            <i class="fa fa-search"></i>
        </button>
        <!--<button class="submit-search-btn" style="background-color:#ed145a" type="submit">
            <i class="fa fa-search"></i>
        </button>-->


        <!--     Nie wiem co ten guzik robi, ale jeśli nie jest submitem to musi byc poza form-->
        <!--   <button class="button" type="submit"><i class="fa fa-trash"></i></button>-->


        <!--</input>-->

        <!-- <button class="submit-search-btn" style="float: right; margin-left: 5px;" type="submit"><i
                 class="fa-solid fa-search"></i></button>-->
    </div>

    <div class="log-btn-container">
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/oauth2/authorization/auth0}">
                <button class="login-btn" style="margin-left:5px"><i class="fa fa-user"></i></button>
            </a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="login-btn" th:href="@{/logout}">
                <button class="login-btn" style="margin-left:5px">Log out</button>
            </a>
        </div>
    </div>

    <div id="cart-container">
        <div id="cart">
            <a style="text-decoration:none;" th:href="@{/cart/}">
                <div class="cart">
                    <i class="fa fa-shopping-cart" style="color:white;"></i>
                    <!--<i class="fas fa-cloud" style="color:white;"></i>-->
                    <span id="count">0</span>
                </div>
            </a>
        </div>
    </div>
</header>

<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

</body>
</html>