<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>Navigation Bar - ToyStores</title>
    <link rel="icon" type="icon" href="/images/favicon.ico">
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatibile">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ToyStores - Navigation Bar</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<!-- Navigation bar container -->
<header class="top-nav" th:fragment="nav" style="">


    <a class="logo" th:href="@{/}"><img src="/images/Logo.svg" alt="Logo"></a>

    <!-- Navigation bar - search button -->
    <div style="margin-left:auto;">
        <button class="search-btn" id="search-modal-btn">
            <i class="fa fa-search"></i>
        </button>
    </div>

    <!-- Navigation bar - login/profile container -->
    <div class="log-btn-container">

        <!-- Navigation bar - login button -->
        <div sec:authorize="!isAuthenticated()" style="margin-right:20px;">
            <a th:href="@{/oauth2/authorization/auth0}">
                <button id="login-btn" style="margin-left:5px"><i class="fa fa-user"></i></button>
            </a>
        </div>

        <!-- Navigation bar - profile button -->
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/history}">
                <!-- <button id="logout-btn" style="margin-left:5px">Log out</button> -->
                <button id="user-cabinet-btn" style="margin-left:5px"><i class="fa fa-user"></i></button>
            </a>
        </div>
    </div>

    <!-- Navigation bar - cart container -->
    <div id="cart-container" sec:authorize="isAuthenticated()">
        <div id="cart">
            <a style="text-decoration:none;" th:href="@{/cart/}">
                <div class="cart">
                    <i class="fa fa-shopping-cart" style="color:white;"></i>
                </div>
            </a>
        </div>
    </div>
</header>


<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

</body>
</html>