* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

button {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    color: white;
}

button:hover {
    background-color: gold;
}

.container, .products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.fa {
    color: goldenrod;
}

.fa-search {
    color: white;
}

/*---------------- NAVIGATION BAR ----------------*/

header {
    height: 50px;
    width: 100%;
    background-color: darkgoldenrod;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

header .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 20px;
    width: auto;
}

#search {
    border-radius: 20px;
    border: none;
    appearance: none;
    padding: 10px 20px;
}

input {
    font-size: 1rem;
}

.cart {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 20px;
    width: 80px;
}



.cart span {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: goldenrod;
    color: white;
}

#login-basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    width: auto;
}

/*----------------  ----------------*/

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/*---------------- SHOPPING CART ----------------*/

.products-container {
    max-width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    margin: 50px;
}

.product-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product {
    width: 30%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.product-name {
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.price {
    width: 15%;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid lightgrey;
    align-items: center;
}

.quantity {
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total {
    width: 30%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-item {
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.cartTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 55%;
    padding: 10px 0;
}

.cartTotalTitle {
    width: 30%;
}

cartTotal {
    width: 10%;
}