* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* ---------- MAIN SETTINGS ----------*/

h1 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 30px;
    font-size: 3.5vw;
    color: #0060af;
}

h3 {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

h4 {
    font-weight: normal;
    font-size: 15px
}

h6 {
    font-size: 100px;
    font-size: 3.5vw;
}

h69 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:#555;

}

button {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 20px;
    background-color: #72bf44;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    color: white;
}

button:hover {
    background-color: #46762a;
}

/*---------- NAVIGATION BAR ----------*/

header {
    width: 100%;
    background: white;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    font-size: 30px;
    font-size: 3.5vw;
    font-weight: bold;
    color: #0060af;
}

.top-nav {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo img {
    max-width: 183px;
    height: auto;
    margin-left:20px;
}

.search-btn {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    color: white;
    background-color: #ed145a;
    float: right;
    margin-left: 5px;
}

.search-btn:hover {
    background: #8d0d37;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    border-radius: 20px;
    align-items: center;
}

/*---------- MAIN PAGE ----------*/

#search-results-container {
    width:100%;
    max-width: 100%;
}

/*----- MODAL ELEMENTS -----*/

.search-many-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.search-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 10px;
    cursor: pointer;
}

label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

input[type="radio"]:checked + label:before {
    content: "";
    background: #0060af;
    border-radius: 50%;
}

label.selected:before {
    content: "";
    background: #0060af;
    border-radius: 50%;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover, .close-modal:focus {
    color: #5d5d5d;
    text-decoration: none;
    cursor: pointer;
}

.search-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    background: white;
    flex-direction: column;
}

.field-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
    justify-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    background: white;
    flex-direction: row;
}

.submit-search-btn {
    margin-right: 5px;
}

#search-main {
    border-radius: 20px;
    border: none;
    appearance: none;
    padding: 5px 10px;
    background: white;
    border: solid 2px #999;
}

#search {
    border-radius: 20px;
    border: none;
    margin: 10px;
    appearance: none;
    padding: 5px 10px;
    background: white;
    border: solid 2px #999;
}

.add-field-btn {
    order: -1;
}

input {
    font-size: 1rem;
}

#input-fields-container {
    display: flex;
    flex-direction: column;
}

#input-fields-container input {
    margin-bottom: 10px;
}

.field-container input {
    margin-right: 10px;
}

#cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    width: auto;
    margin-right: 20px;
    margin-left: 10px;
    background: white;
}

.shopping-cart-table {
    border-style:solid;
    border-width:1px;
    border-color:#999;
    border-radius:20px;
}

.cart {
    display: flex;
    background-color: #0060af;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 20px;
    width: 80px;
}

.cart span {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    color: #0060af;
}

.log-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    width: auto;
    border-radius: 20px;
}

/*----------------  ----------------*/
.image {
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}

/*---------------- SHOPPING CART ----------------*/
.products-container {
    max-width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    margin: 50px;
}

.product-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product {
    width: 16%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.product-name {
    width: 16%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.price {
    width: 16%;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid lightgrey;
    align-items: center;
}

.quantity {
    width: 16%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total {
    width: 16%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    width: 16%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-item {
    width: 16%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.cartTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 55%;
    padding: 10px 0;
}

.cartTotalTitle {
    width: 30%;
}

cartTotal {
    width: 10%;
}

.history-container {
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin: 50px;
}

.history-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.hist-product {
    width: 16%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.hist-name {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hist-price {
    width: 25%;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid lightgrey;
    align-items: center;
}

.hist-link {
    width: 25%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart {
    margin-top: 20px;
    margin-bottom: 20px;
}

.notfound {
    font-family: 'Fredoka One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error404 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 100px;
}

.center {
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}


.results-table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    min-width: 100%;


}

#results-table td, #results-table th {
    border-radius:20px;
    border-style:solid;



    padding: 10px;
}

#results-table tr:nth-child(even) {
    background-color: #ffffff;
}

#results-table th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #0060af;
    color: white;

}

.products-1st-row {
    min-width: 5px;
    max-width: 100px;
}

.search-history-table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    min-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.account-wrapper {
    border: 1px solid blue;
    margin: 20px;
    min-width: 10%;
    justify-items: center;
    align-items: center;
}

.history-container {
    display: inline-block;
    justify-items: center;
    max-width: 60%;
    height: 100%;
    border: 1px solid red;
}

.account-container {
    vertical-align: top;
    display: inline-block;
    justify-items: center;
    min-width: 10%;
    max-width: 20%;
    height: 100%;
    border: 1px solid green;
}

#add-field-btn {
    margin-top: 10px;
}