* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

h4 {
    font-weight: normal;
    font-size: 15px
}

h6 {
    font-size: 100px;
}

button, .login-btn, .choose-file {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 20px;
    background-color: #72bf44;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    color: white;
}

.search-many-btn {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    white-space: nowrap;
    color: #999999;
}

.search-many-btn:hover {
    background: none;
}

.submit-search-btn {
    width: 40px;
    height: 30px;
}

input[type="file"] {
    display: none;
}

button:hover, .login-btn:hover, .choose-file:hover {
    background-color: #46762a;
}

.container, .products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    border-radius: 20px;
    align-items: center;
}

.fa-solid {
    background: transparent;
}

/*---------------- NAVIGATION BAR ----------------*/

.top-nav {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    width: 100%;
    background: white;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    font-size: 30px;
    font-size: 3.5vw;
    font-weight: bold;
    color: #0060af;
}

p, .logo {
    font-family: 'Fredoka One', sans-serif;
    background: white;
    font-size: 30px;
    font-size: 3.5vw;
    font-weight: bold;
    color: #0060af;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-color: #72bf44;
}

#search {
    border-radius: 20px;
    border: none;
    appearance: none;
    padding: 5px 10px;
    background: white;
}

input {
    font-size: 1rem;
}

#cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    width: auto;
    margin-right: 20px;
    background: white;
}

.cart {
    display: flex;
    background-color: #0060af;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 20px;
    width: 80px;
}

.cart span {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    color: #0060af;
}

.log-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin-right: 10px;
    width: auto;
    border-radius: 20px;
}

/*----------------  ----------------*/

.image {
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}

/*---------------- SHOPPING CART ----------------*/

.products-container {
    max-width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    margin: 50px;
}

.product-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product {
    width: 16%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.product-name {
    width: 16%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.price {
    width: 16%;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid lightgrey;
    align-items: center;
}

.quantity {
    width: 16%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total {
    width: 16%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    width: 16%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-item {
    width: 16%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.cartTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 55%;
    padding: 10px 0;
}

.cartTotalTitle {
    width: 30%;
}

cartTotal {
    width: 10%;
}

.history-container {
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin: 50px;
}

.history-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.hist-product {
    width: 16%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.hist-name {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hist-price {
    width: 25%;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid lightgrey;
    align-items: center;
}

.hist-link {
    width: 25%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart {
    margin-top: 20px;
    margin-bottom: 20px;
}

.notfound {
    font-family: 'Fredoka One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error404 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 100px;
}

.center {
    width: 200px;
    height:100px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}







/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



#shopping-cart-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#shopping-cart-table td, #shopping-cart-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#shopping-cart-table tr:nth-child(even){background-color: #f2f2f2;}

#shopping-cart-table tr:hover {background-color: #ddd;}

#shopping-cart-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}