<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - ToyStores</title>
    <link rel="icon" type="icon" href="/images/favicon.ico">
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <script
            crossorigin="anonymous"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            src="https://code.jquery.com/jquery-3.6.3.js">
    </script>
</head>
<body>

<div th:insert="fragments/nav :: header"></div>

<div class="img-container">
    <img src="/images/children-playing.jpg" alt="Children Playing">
</div>

<div id="search-results-container" class="container">
    <div th:each="product :${products}">

        <!--Wyświetlenie wyników wyszukiwania-->
        <table id="results-table" style="max-width:100%">
            <h3 th:text="${product.searchProduct}"></h3>
            <tr class="products-1st-row">
                <th class="product-thumbnail-th" style="max-width:500px;">Thumbnail</th>
                <th class="product-name-th" style="max-width:1200px">Product Name
                </th>
                <th class="product-price-th" style="max-width:100%">Price</th>
                <th class="product-ship-th" style="max-width:100%">Shipping</th>
                <th class="product-seller-th" style="max-width:100%">Seller</th>
                <th class="product-buy-th" sec:authorize="isAuthenticated()" style="width:100%">
                    Buy
                </th>
            </tr>
            <tr>
                <td>
                    <img th:src="${product.getResultProduct().getThumbnailUrl()}">
                </td>
                <td th:text="${product.getResultProduct().getName()}" id="product-name">*product name*</td>
                <td th:text="${product.getResultProduct().getOffer().getPrice()}" id="product-price">*price*/td>
                <td th:text="${product.getResultProduct().getOffer().getShippingPrice()}" id="product-ship-price">
                    *shipping price*
                </td>
                <td th:text="${product.getResultProduct().getOffer().getSeller()}" id="product-seller">*seller*</td>

                <div sec:authorize="isAuthenticated()">
                    <!--Dodawanie produktu do koszyka dla użytkownika zalogowanego-->
                    <td>
                        <button th:attr="onclick='addToCart(\'' + ${product.getResultProduct().getName()}+  '\',\'' + ${product.getResultProduct().getOffer().getPrice()}+  '\', \'' + ${product.getResultProduct().getOffer().getShippingPrice()}+  '\',\'' + ${product.getResultProduct().getOffer().getSeller()}+  '\',\'' + ${product.getResultProduct().getThumbnailUrl()}+  '\',\'' + ${product.getResultProduct().getOffer().getRedirectUrl()}+  '\',\'' + ${userEmail}+  '\');'">
                            Add to cart
                        </button>
                    </td>
                </div>
            </tr>
        </table>
    </div>
</div>

<div th:insert="fragments/modal :: div"></div>

<script src="/js/modal.js"></script>
<script src="/js/progress-bar.js"></script>
<script src="/js/added-to-cart-popup.js"></script>

<div th:insert="fragments/footer :: footer"></div>

</body>
</html>