<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/fontawesome/css/fontawesome.css" rel="stylesheet">
    <title>Shopping cart</title>
    <script
            crossorigin="anonymous"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            src="https://code.jquery.com/jquery-3.6.3.js">
    </script>

</head>
<body>

<div th:insert="fragments/nav :: header"></div>

<div class="container">
    <div th:each="product :${products}">
        <div class="image">
            <h3 th:text="${product.id}"></h3>
            <h3 th:text="${product.name}"></h3>
            <h3 th:text="${product.price}"></h3>
            <h3 th:text="${product.shippingPrice}"></h3>
            <h3 th:text="${product.seller}"></h3>
            <h3 th:text="${product.link}"></h3>
            <button class="add-to-cart cart1" href="#">Add to cart</button>
        </div>
    </div>
</div>

</body>
</html>