<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Home - ToyStores</title>
    <script
            crossorigin="anonymous"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            src="https://code.jquery.com/jquery-3.6.3.js">
    </script>
    <!--<script type="text/javascript" th:src="@{/js/main.js}"></script>-->
</head>
<body>

<div th:insert="fragments/nav :: header"></div>

<div class="img-container">
    <img src="/images/children-playing.jpg" alt="Children Laughing" style="width:100%;">
    <!--<div class="center">
        <h2>Welcome to ToyStores!</h2>
        <h3>Tell us what do you need</h3>
    </div>-->
</div>

<div class="container">
    <div th:each="product :${products}">
        <table id="shopping-cart-table">
            <h3 th:text="${product.searchProduct}"></h3>
            <tr>
                <th class="product-name-th">Product Name</th>
                <th class="product-price-th">Price</th>
                <th class="product-ship-th">Shipping Price</th>
                <th class="product-seller-th">Seller</th>
                <!--<th>URL ?</th>-->
            </tr>
            <tr>
                <td th:text="${product.getResultProduct().getName()}">Product Name 1</td>
                <td th:text="${product.getResultProduct().getOffer().getPrice()}">Price 1</td>
                <td th:text="${product.getResultProduct().getOffer().getShippingPrice()}">Shipping Price 1</td>
                <td th:text="${product.getResultProduct().getOffer().getSeller()}">Seller</td>
                <!--<td th:text="${product.getResultProduct().getOffer().getRedirectUrl()}">Link 1</td>-->
            </tr>
        </table>
    </div>
</div>

<!-- The Modal -->
<div id="search-many-modal" class="search-many-modal">

    <div class="search-many-modal">
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>








    <!-- Modal content -->
    <div class="search-modal-content">
        <span class="close-modal">&times;</span>
        <p>Type in what you are searching for...</p>









        <div class="search-container" style="margin-left:auto;">

            <!--<form th:action="@{/search}" method="get"></form>-->

            <form method="GET" th:action="@{/searchProduct}" th:object="${productsToSearch}">
                <input id="search" name="productsToSearch" placeholder="Search..." type="text">

                <button class="search-btn" id="search-modal-btn" style="float: right; margin-left: 5px;" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <!--<button class="submit-search-btn" style="background-color:#ed145a" type="submit">
                    <i class="fa fa-search"></i>
                </button>-->

                <!--     Nie wiem co ten guzik robi, ale jeśli nie jest submitem to musi byc poza form-->
                <!--   <button class="button" type="submit"><i class="fa fa-trash"></i></button>-->

                </input>
            </form>


            <!--<input id="search" type="text" name="keyword" th:value="${keyword}" placeholder="Search...">
            <button class="submit-search-btn" style="background-color:#ed145a" type="submit">
                <i class="fa fa-search"></i>
            </button>
            </input>-->

        </div>
    </div>

</div>


<!--
<div class="container">
    <div th:each="product :${products}">
        <div class="image">
            <h3 th:text="${product.searchProduct}"></h3>
            <h3 style="text-align: center; margin-top: 3px;" th:text="${product.getResultProduct().getName()}"></h3>
            <h4 style="font-weight: normal; margin-top: 3px;"
                th:text="${product.getResultProduct().getOffer().getPrice()}"></h4>
            <h4 style="font-weight: normal; margin-top: 3px;"
                th:text="${product.getResultProduct().getOffer().getShippingPrice()}"></h4>
            <h3 style="margin-top: 3px;" th:text="${product.getResultProduct().getOffer().getSeller()}"></h3>
            <a style="margin-top: 3px;" th:href="${product.getResultProduct().getOffer().getRedirectUrl()}">Go to
                seller</a>

            <button href="#" class="add-to-cart cart1" th:action="@{/cart/add}" th:object="${product}">Add to cart
            </button>
        </div>
    </div>
</div>
-->

<script>

    var modal = document.getElementById("search-many-modal");
    // Get the button that opens the modal
    var btn = document.getElementById("search-modal-btn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close-modal")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
        console.log("chuj");
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


</body>
</html>