<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Navigation Bar</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/fontawesome/css/fontawesome.css">
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>

<header class="header">
    <a href="index.html" style="text-decoration:none;">
        <h2><p class="logo">LOGO</p></h2>
    </a>

    <div class="search-wrapper">
        <input type="search" id="search" placeholder="Search..." data-search>
        <label class="choose-file" style="float: right; margin-left: 5px;">
            <input type="file"/>Import file</label>
        <button type="submit" style="float: right; margin-left: 5px;"><i class="fa fa-search"></i></button>
    </div>

    <div id="login-basket">
        <button class="login-btn">Login</button>
        <div id="cart" style="float:end; margin-left: 5px;">
            <a href="shopping-cart.html" style="text-decoration:none;">
                <div class="cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span id="count">0</span>
                </div>
            </a>
        </div>
    </div>
</header>

</body>
</html>