<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/static/js/cart-script.js"></script>
</head>
<body>

<header class="header">
    <a href="test.html" style="text-decoration:none;">
        <h2><p class="logo">LOGO</p></h2>
    </a>

    <div class="search-wrapper">
        <input type="search" id="search" placeholder="Search..." data-search>
        <button type="submit" style="float: right; margin-left: 5px;"><i class="fa fa-search"></i></button>
        <button style="float: right; margin-left: 5px;">Import file</button>
    </div>

    <div id="login-basket">
        <div>
            <button id="login-btn">Login</button>
            </a>
        </div>

        <div id="cart" style="float:end; margin-left: 5px;">
            <a href="sc2.html" style="text-decoration:none;">
                <div class="cart">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span id="count">0</span>
                </div>
            </a>
        </div>
    </div>
</header>

</body>
</html>