<!doctype html>
<html lang="en">
<head><title>Account - ToyStores</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <!--<script type="text/javascript" th:src="@{/js/main.js}"></script>-->
    <!--  <script>       $(function () {           $('#header').load('nav.html');       });   </script>-->  </head>
<body>

<div th:insert="fragments/nav :: header"></div>

<div class="img-container">
    <img src="/images/boy-playing.jpg" alt="Children Laughing" style="width:100%;">
    <!--<div class="center">         <h2>Welcome to ToyStores!</h2>         <h3>Tell us what do you need</h3>     </div>-->
</div>

<div class="account-wrapper">
    <div class="history-container">
        <table id="search-history-table" style="width:200%">
            <tr>
                <th style="float:left;">Searched Product</th>
                <th style="float:right;">Date</th>
            </tr>
            <tr>
                <td style="float:left;">Product Name 1</td>
                <td style="float:right;">01.01.1901</td>
            </tr>
        </table>
    </div>
    <div class="account-container"><p>asdf</p></div>
</div>

</body>
</html>