<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart - ToyStores</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Home - ToyStores</title>
    <script
            crossorigin="anonymous"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            src="https://code.jquery.com/jquery-3.6.3.js">
    </script>
</head>
<body>

<div th:insert="fragments/nav :: header"></div>

<!-- Koszyk użytkownika, który posiada konto. -->
<div class="container" sec:authorize="isAuthenticated()">
    <div th:if="${cartOffers==null or cartOffers.isEmpty()}">
        <p>Your cart is empty :(</p>
    </div>

    <div th:if="${cartOffers!=null and !cartOffers.isEmpty()}">

        <table class="shopping-cart-table" th:each="offer :${cartOffers}">
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Shipping Price</th>
                <th>Link</th>
            </tr>
            <tr>
                <td th:text="${offer.getName()}">Product Name 1</td>
                <td th:text="${offer.getPrice()}">Price 1</td>
                <td th:text="${offer.getShippingPrice()}">Shipping Price 1</td>
                <td th:text="${offer.getRedirectURL()}">Link 1</td>
            </tr>
        </table>
    </div>
</div>

<!-- Koszyk użytkownika, który nie posiada konta.-->
<div class="container" sec:authorize="!isAuthenticated()">
    <div th:if="${cartOffers==null or cartOffers.isEmpty()}">
        <p>Your cart is empty :(</p>
    </div>

    <div th:if="${cartOffers!=null and !cartOffers.isEmpty()}">

        <table class="shopping-cart-table" th:each="offer :${cartOffers}">
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Shipping Price</th>
                <th>Link</th>
            </tr>
            <tr>
                <td th:text="${offer.getName()}">Product Name 1</td>
                <td th:text="${offer.getPrice()}">Price 1</td>
                <td th:text="${offer.getShippingPrice()}">Shipping Price 1</td>
                <td th:text="${offer.getRedirectURL()}">Link 1</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>