<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head><title>Account - ToyStores</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <!--<script type="text/javascript" th:src="@{/js/main.js}"></script>-->
    <!--  <script>       $(function () {           $('#header').load('nav.html');       });   </script>-->  </head>
<body>

<div th:insert="fragments/nav :: header"></div>

<div class="img-container">
    <img src="/images/girl-playing.jpg" alt="Children Laughing" style="width:100%;">
    <!--<div class="center">
        <h2>Welcome to ToyStores!</h2>
        <h3>Tell us what do you need</h3>
    </div>-->
</div>

<div class="container">
    <div th:if="${cartOffers==null or cartOffers.isEmpty()}">
        <p>Your cart is empty :(</p>
    </div>

    <div th:if="${cartOffers!=null and !cartOffers.isEmpty()}">

        <!--Wyświetlenie produktów dodanych do koszyka-->
        <table id="results-table" style="margin-left:50px;margin-right:50px;" class="shopping-cart-table"
               th:each="offer :${cartOffers}">
            <h3 th:text="${offer.getName()}"></h3>
            <tr class="products-1st-row">
                <th class="product-name-th" style="border-top-left-radius:17px;">Product Name</th>
                <th class="product-price-th">Price</th>
                <th class="product-seller-th">Link</th>
                <th style="border-top-right-radius:17px;"></th>
                <th style="border-top-right-radius:17px;"></th>
                <!--<th>URL ?</th>-->
            </tr>
            <tr>
                <td th:text="${offer.getName()}" id="product-name">Product Name 100 000 000 00 0000
                    00 000 0000000 000 000000
                </td>
                <td th:text="${offer.getPrice()}" id="product-price">Price 1</td>
                <!--<td th:text="${offer.getResultProduct().getOffer().getSeller()}" id="product-seller">Seller</td>-->
                <td><a th:href="${offer.getRedirectURL()}">Link</a></td>
                <!--<td th:text="${product.getResultProduct().getOffer().getRedirectUrl()}">Link 1</td>-->

                <!--Usuwanie produktu z koszyka dla użytkownika niezalogowanego-->
                <div sec:authorize="!isAuthenticated()">
                    <td>
                        <button class="add-to-cart"><i class="fa fa-trash" style="color:white;"></i></button>
                    </td>
                </div>

                <!--Usuwanie produktu z koszyka dla użytkownika zalogowanego-->
                <div sec:authorize="isAuthenticated()">
                    <td>
                        <form method="POST" th:action="@{cart/delete}" th:object="${product}">
                            <button><i class="fa fa-trash" style="color:white;"></i></button>
                    </td>
                </div>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>Shipping</th>
                <th>10</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>Total price</th>
                <th th:text="${offer.getShippingPrice()}" style="border-bottom-right-radius:17px;">1000</th>
            </tr>
        </table>
    </div>
</div>

<div th:insert="fragments/modal :: div"></div>

<script src="/js/modal.js"></script>

</body>
</html>